<div class="main-content-area">
  <div class="page-header">
    <h1>Registro de Baixas</h1>
    <div class="header-actions">
      <div class="search-input-group">
        <input
          type="text"
          placeholder="Pesquisar..."
          [(ngModel)]="searchTerm"
          (input)="onSearchTermChange(searchTerm)"
          class="form-control"
        />
        <i class="fas fa-search search-icon"></i>
      </div>
      <button class="btn primary" (click)="goToRegistrarBaixa()">
        <i class="fas fa-plus"></i> Registrar Nova Baixa
      </button>
    </div>
  </div>

  <div class="controls-bar">
    <div class="filter-sort-group">
      <button class="btn secondary filter-button">
        <i class="fas fa-filter"></i> Filtros
      </button>

      <div class="sort-dropdown">
        <select
          class="form-control"
          [(ngModel)]="selectedMotivoFilter"
          (change)="onMotivoFilterChange()"
        >
          <option value="">Todos os Motivos</option>
          <option *ngFor="let motivo of uniqueMotivos" [value]="motivo">
            {{ motivo }}
          </option>
        </select>
      </div>

      <div class="sort-dropdown">
        <select
          class="form-control"
          [(ngModel)]="selectedOrder"
          (change)="onOrderChange()"
        >
          <option value="">Ordenar Por</option>
          <option value="dataBaixaDesc">Data (Mais Recente)</option>
          <option value="dataBaixaAsc">Data (Mais Antiga)</option>
          <option value="nomeProdutoAsc">Produto (A-Z)</option>
          <option value="nomeProdutoDesc">Produto (Z-A)</option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="data-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Nº Lote</th>
          <th>Data da Baixa</th>
          <th>Quantidade</th>
          <th>Motivo</th>
          <th>Usuário</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredBaixas.length > 0; else noBaixas">
          <tr
            *ngFor="let baixa of filteredBaixas"
            class="table-row-hover-effect"
          >
            <td>{{ baixa.nomeProduto }}</td>
            <td>{{ baixa.loteItemEstoque }}</td>
            <td>{{ baixa.dataBaixa | date : "dd/MM/yyyy HH:mm" }}</td>
            <td>{{ baixa.quantidadeBaixada }} un.</td>
            <td>{{ baixa.motivo }}</td>
            <td>{{ baixa.usuarioResponsavelNome }}</td>
          </tr>
        </ng-container>
        <ng-template #noBaixas>
          <tr>
            <td colspan="6" class="no-data-message">
              Nenhuma baixa registrada encontrada.
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
