<div class="main-content-container">
  <div class="page-header">
    <h1>Editar Produto</h1>
  </div>

  <div *ngIf="produtoAtual" class="form-container mt-4">
    <form [formGroup]="edicaoProdutoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nome">Nome do Produto:</label>
        <input
          id="nome"
          type="text"
          formControlName="nome"
          class="form-control"
          placeholder="Ex: Tinta Acrílica Branca"
        />
        <div
          *ngIf="
            edicaoProdutoForm.get('nome')?.invalid &&
            edicaoProdutoForm.get('nome')?.touched
          "
          class="text-danger"
        >
          Nome é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <textarea
          id="descricao"
          formControlName="descricao"
          class="form-control"
          rows="3"
          placeholder="Ex: Tinta à base de água para ambientes internos e externos."
        ></textarea>
        <div
          *ngIf="
            edicaoProdutoForm.get('descricao')?.invalid &&
            edicaoProdutoForm.get('descricao')?.touched
          "
          class="text-danger"
        >
          Descrição é obrigatória.
        </div>
      </div>

      <div class="form-group">
        <label for="tipo">Tipo:</label>
        <select id="tipo" formControlName="tipo" class="form-control">
          <option value="" disabled>Selecione um tipo</option>
          <option *ngFor="let tipo of tiposProduto" [value]="tipo">
            {{ tipo }}
          </option>
        </select>
        <div
          *ngIf="
            edicaoProdutoForm.get('tipo')?.invalid &&
            edicaoProdutoForm.get('tipo')?.touched
          "
          class="text-danger"
        >
          Tipo é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="marca">Marca:</label>
        <input
          id="marca"
          type="text"
          formControlName="marca"
          class="form-control"
          placeholder="Ex: Coral, Suvinil"
        />
        <div
          *ngIf="
            edicaoProdutoForm.get('marca')?.invalid &&
            edicaoProdutoForm.get('marca')?.touched
          "
          class="text-danger"
        >
          Marca é obrigatória.
        </div>
      </div>

      <div class="form-group">
        <label for="unidadeMedida">Unidade de Medida:</label>
        <select
          id="unidadeMedida"
          formControlName="unidadeMedida"
          class="form-control"
        >
          <option value="" disabled>Selecione a unidade</option>
          <option *ngFor="let unidade of unidadesMedida" [value]="unidade">
            {{ unidade }}
          </option>
        </select>
        <div
          *ngIf="
            edicaoProdutoForm.get('unidadeMedida')?.invalid &&
            edicaoProdutoForm.get('unidadeMedida')?.touched
          "
          class="text-danger"
        >
          Unidade de Medida é obrigatória.
        </div>
      </div>

      <div class="form-actions mt-4">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="edicaoProdutoForm.invalid"
        >
          <i class="fas fa-save"></i> Salvar Alterações
        </button>
        <button type="button" class="btn btn-secondary ml-2" (click)="goBack()">
          <i class="fas fa-arrow-left"></i> Voltar
        </button>
      </div>
    </form>
    <div class="product-info mt-3" *ngIf="produtoAtual">
      <p><strong>ID do Produto:</strong> {{ produtoAtual.uid }}</p>
      <p>
        <strong>Cadastrado em:</strong>
        {{ formatTimestamp(produtoAtual.dataCadastro) }}
      </p>
      <p *ngIf="produtoAtual.dataUltimaEdicao">
        <strong>Última Edição:</strong>
        {{ formatTimestamp(produtoAtual.dataUltimaEdicao) }}
      </p>
      <p *ngIf="produtoAtual.usuarioUltimaEdicaoNome">
        <strong>Editado por:</strong> {{ produtoAtual.usuarioUltimaEdicaoNome }}
      </p>
    </div>
  </div>

  <div *ngIf="!produtoAtual && produtoUid" class="alert alert-warning mt-4">
    Carregando produto ou produto não encontrado...
  </div>
</div>
