// src/app/pages/produtos/edicao-produto/edicao-produto.component.scss
@import "~src/styles/_styles.scss"; // Importe estilos globais para acessar as variáveis.

.edicao-produto-form-card {
  max-width: 800px;
  margin: 0 auto;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 25px;
}
