/* src/app/LoginComponents/login/login.component.scss */

@import "../../../styles/variables"; // Garanta que esta linha esteja no topo
@import "../../../styles/styles"; // Garanta que esta linha esteja no topo para usar os mixins

.login-page-container {
  @include two-column-layout(
    "login-background.jpg"
  );
  .form-panel {
    .form-wrapper {
      .title {
        color: $color-secondary-base; 
        text-align: center;
        margin-bottom: $spacing-xl; 
      }

      .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $spacing-l;

        img {
          width: 80px; // Ajuste o tamanho do logo conforme necessário
          height: auto;
          margin-bottom: $spacing-s; // Usando variável de _variables.scss
        }
      }

      .password-wrapper {
        .icon-eye {
          width: 20px;
          height: 20px;
        }
      }

      .btn {
        width: 100%;
        margin-top: $spacing-m; // Usando variável de _variables.scss
      }

      .forgot-password {
        margin-top: $spacing-s; // Usando variável de _variables.scss
      }
    }
  }
}
