<div class="login-page-container">
  <div class="form-panel">
    <div class="form-wrapper">
      <h2 class="title">Entrar</h2>

      <form (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            placeholder="E-mail"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Senha</label>
          <div class="password-wrapper">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              id="password"
              [(ngModel)]="password"
              name="password"
              placeholder="Senha"
              required
            />
            <span class="password-toggle" (click)="togglePasswordVisibility()">
              <img
                *ngIf="!passwordVisible"
                src="../../../assets/icons/eye-open.svg"
                alt="Mostrar Senha"
                class="icon-eye"
              />
              <img
                *ngIf="passwordVisible"
                src="../../../assets/icons/eye-closed.svg"
                alt="Esconder Senha"
                class="icon-eye"
              />
            </span>
          </div>
        </div>

        <a class="forgot-password" routerLink="/recuperar-senha"
          >Esqueceu sua senha?</a
        >

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <div class="button-group">
          <button type="submit" class="btn btn-cta" [disabled]="isLoading">
            <span *ngIf="!isLoading">Entrar</span>
            <span *ngIf="isLoading">Verificando...</span>
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            routerLink="/cadastro"
          >
            Cadastrar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="image-panel">
    <img
      src="../../../assets/images/login-background.jpg"
      alt="Fundo com luvas e tijolos"
    />
  </div>
</div>
