/* Um reset CSS simples para remover margens e paddings padrão do navegador */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif; // Usar uma fonte padrão, pode ser substituída por uma específica como 'Inter', 'Roboto'
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $color-background; // Fundo geral do aplicativo
  color: $color-text-dark; // Cor padrão do texto
}

// Remova estilos padrão de alguns elementos
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

template {
  display: none;
}
