/* src/app/LoginComponents/cadastro-senha/cadastro-senha.component.scss */

@import "../../../styles/variables"; // Garanta que esta linha esteja no topo
@import "../../../styles/styles"; // Garanta que esta linha esteja no topo para usar os mixins

.cadastro-container-wrapper {
  .form-panel {
    .form-wrapper {
      .title {
        text-align: center;
        margin-bottom: $spacing-xl; // Usando variável de _variables.scss
      }

      .password-wrapper {
        .icon-eye {
          width: 20px; // Ajuste o tamanho do ícone do olho
          height: 20px;
        }
      }

      .btn {
        width: 100%;
        margin-top: $spacing-m; // Usando variável de _variables.scss
      }

      .already-account {
        margin-top: $spacing-s; // Usando variável de _variables.scss
      }
    }
  }
}
