/* src/app/LoginComponents/cadastro-senha/cadastro-senha.component.scss */
/* Não precisa de muito aqui se os estilos globais forem bem definidos */
.cadastro-container-wrapper {
  .form-panel {
    .form-wrapper {
      .title {
        text-align: center;
        margin-bottom: $spacing-xl;
      }

      .password-wrapper {
        .icon-eye {
          width: 20px; // Ajuste o tamanho do ícone do olho
          height: 20px;
        }
      }

      .btn {
        width: 100%;
        margin-top: $spacing-m;
      }

      .already-account {
        margin-top: $spacing-s;
      }
    }
  }
}
